
* {
  margin: 0;
  padding: 0;
}

.flip-card {
  background-color: transparent;
  width: 350px;
  height: 500px;
  perspective: 1000px;
  padding-left: 600px;
  padding-top: 175px;
  border-radius: 10px;

}

.flip-card-inner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner{
  transform:rotateY(180deg) ;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  align-content: center;
}

.flip-card-front{
  background-color: gray;
  color: black;
}

.flip-card-back {
  padding: 1em;
  background: rgb(2,0,36);
  background: linear-gradient(to bottom, rgba(194,212,168,1) 29%, rgba(25,205,216,1) 53%, rgba(0,212,255,1) 100%);
  transform: rotateY(180deg);
  font-family: Verdana, sans-serif;
  font-size: 1em;
  text-align: left;
  
}

.social-icon {
  color: #7cdeff;
  transition: color 0.2s;
  text-decoration: none;
  font-size: 4em;
  padding: 2px;
}

.social-icon:hover{
  color: blue;
}

.icons{
display: flex;
align-content: space-between;
padding-bottom: 1rem;
align-items: bottom;


}

.tekst2{
  color: transparent;

}